@{
    ViewData["Title"] = "Home Page";
}

@*simple home page*@
<div class="text-center">
    <h1>Welcome to <br /> The Joel Hilton Film Collection</h1>
</div>

<div class="text-center">
    <img src="~/img/joel.jpg" style="width: 300px; border-radius: 75%" alt="Joel" />
</div>
