@{
    ViewData["Title"] = "Podcast";
}


@*podcast page, image has link to site*@

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Check Out My Podcast</h1>
                <a href="https://baconsale.com/" target="_blank">
                    <img src="~/img/baconsale3.png" style="width: 300px"/>
                </a>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="col-xl-7 col-lg-9 text-center">
                <h4>A comedian who likes movies and a movie critic who is sometimes funny discuss movies, music, television shows, video games and other pop culture topics.</h4>
            </div>
        </div>
        <div class="text-center">
            <a href="https://baconsale.com/" target="_blank" class="btn-get-started">Baconsale</a>
        </div>
    </div>
</section><!-- End Hero -->


