@{
    ViewData["Title"] = "Podcast";
}


@*podcast page, image has link to site*@
<div>
    <h1>Baconsale</h1>
</div>

<div>
    <br />
    <h2>Check out my podcast:</h2>
    <p>A COMEDIAN WHO LIKES MOVIES AND A MOVIE CRITIC WHO IS SOMETIMES FUNNY DISCUSS MOVIES, MUSIC, TELEVISION SHOWS, VIDEO GAMES AND OTHER POP CULTURE TOPICS.</p>
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/img/baconsale3.png" />
    </a>

</div>